<html>
<head>
<meta charset="utf-8">  
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="/static/twitter-bootstrap-v2/docs/assets/js/jquery-ui.js"></script> 
<link href="/static/twitter-bootstrap-v2/docs/assets/css/bootstrap-combined.min (1).css" rel="stylesheet" media="screen">
<script  src="/static/twitter-bootstrap-v2/docs/assets/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">

	<div class="row-fluid">
		<div class="span12">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li class="active">
						<a href="#">主页</a>
					</li>
					<li>
						<a href="#">关于</a>
					</li>
					<li>
						<a href="#">联系我们</a>
					</li>
				</ul>
				<h3 class="text-muted">
					Task Manager
				</h3>
			</div>
		
				<h2>
					任务管理系统
				</h2>
				<p class="lead">
					this is test descirbe
				</p>
		
			</div> 
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							time
						</th>
						<th>
							task
						</th>
						<th>
							opperation
						</th>
						<th>
							state
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
						button
			 		   </td>
						<td>
							Default
						</td>
					</tr>
					<tr class="success">
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Approved
						</td>
					</tr>
					<tr class="error">
						<td>
							2
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							02/04/2012
						</td>
						<td>
							Declined
						</td>
					</tr>
					<tr class="warning">
						<td>
							3
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							03/04/2012
						</td>
						<td>
							Pending
						</td>
					</tr>
					<tr class="info">
						<td>
							4
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							04/04/2012
						</td>
						<td>
							Call in to confirm
						</td>
					</tr>
				</tbody>
			</table>
			<button type="button" id="modal-803260" href="#modal-container-803260" role="button" class="btn btn-default" data-toggle="modal">完成</button>
			<div id="modal-container-803260" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						info
					</h3>
				</div>
				<div class="modal-body">
					<p>
						要保存计划吗
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <button class="btn btn-primary">确定</button>
				</div>
			</div>		
			<div class="pagination pagination-centered">
				<ul>
					<li>
						<a href="#">上一页</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">下一页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

</body>
</html>