<!DOCTYPE html>  
{% load bootstrap_toolkit %}
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>Task Manager</title>  
    <meta name="description" content="">  
    <meta name="author" content="Lucas">
    <script src="static/twitter-bootstrap-v2/docs/assets/js/jquery.min.js"></script>
    <script src="/static/twitter-bootstrap-v2/docs/assets/js/bootstrap.min.js"></script>  
    <link rel="stylesheet" href="/static/twitter-bootstrap-v2/docs/assets/css/bootstrap.css"> 
    <link rel="stylesheet" href="/static/twitter-bootstrap-v2/docs/assets/css/bootstrap-responsive.css">  
</head>  