 <div class="item">  
<!--          <p class="table table-striped">  
             <input type="submit" value="登录" class="btn btn-primary">  
             <a href="/findpaswd/"><input type="button" value="忘记密码" class="btn btn-danger"></a>  
             <a href="/newaccount/"><input type="button" value=" 注册 " class="btn btn-success"></a>  
         </p>  
 </div>  -->
    <table class="table table-hover">
<!--    <thead>
      <tr>
         <th>名称</th>
         <th>城市</th>
         <th>密码</th>
      </tr>
   </thead> -->
   <tbody>
      <tr>
         <td>time</td>
         <td>task</td>
         <td><input type="submit" value="完成" class="btn btn-primary">  
             <a href="#"><input type="button" value="延期" class="btn btn-success"></a>  
             <a href="#"><input type="button" value=" 删除 " class="btn btn-danger"></a>  </td>
      </tr>
      <tr>
        <td>time</td>
         <td>task</td>
         <td><input type="submit" value="完成" class="btn btn-primary">  
             <a href="#"><input type="button" value="延期" class="btn btn-success"></a>  
             <a href="#"><input type="button" value=" 删除 " class="btn btn-danger"></a>  </td>
      </tr>
   </tbody>
</table>
 </div>